body{
	background-color: #669999;
	font-family: Verdana;
}
h1{
	color: red;
	font-size: 3em;
	font-family: "Impact", Times, serif
}
h2{
	font-size: 2em;
	color: green;
	font-family: "Impact", Times, serif
}
label{
	font-size: 2em;

	font-weight: bold;
	text-decoration: underline;
}

.left {
    position: absolute;
    left: 0px;
    width: 300px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}